body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.header{
    margin: auto;
    text-align: center;
}

h1{
    color: maroon;
    margin-top: 50px;
}

#create, #reset{
    border-radius: 30%;
    font-size: 14px;
    color: maroon;
    padding: 12px 28px;
    background-color: beige
}

#create:focus{
    outline: none;
}

#reset:focus{
    outline: none;
}

#container{
    
}